<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Players</span>
          <input type="text" placeholder="name" #name />
          <input type="text" placeholder="age" #age />
        </div>
        <div class="card-action">
          <button class="btn" (click)="addPlayer(name.value, age.value)">Add a Player</button>
          <div class="card-panel cyan z-depth-4" *ngIf="msg">
            <span>{{msg}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m5  offset-m1" *ngIf="(players$ | async) as players">
      <div class="display-div" *ngIf="players.length">
        <h3>List of Players</h3>
        <table>
          <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let player of players">
              <td>{{ player.name }}</td>
              <td>{{ player.age }}</td>
              <td (click)="deletePlayer(player.name)">
                <button class="btn red waves-effect waves-light">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
